body {
    margin: 0;
}

main {
    padding: 8px;
}

article {
    background: rgb(197, 197, 197);
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header, footer {
    padding: 10px;
    display: flex;
    background-color: rgb(65, 65, 65);
    color: rgb(243, 243, 243);
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    padding: 0;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
}