{% extends "bases.html.twig" %}

{% block main %}
    <main>
        <section>
            <article>
                <h3>{{ category.name }}</h3>
                <h3>{{ category.description }}</h3>
            </article>
        </section>
    </main>
{% endblock %}