{% extends "bases.html.twig" %}

{% block main %}
    <main>
        <h2>Produits</h2>
        <section>
            {% for product  in products %}
                <article>
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <span>Prix : {{ product.price }}</span>
                    <span>Stock : {{ product.stock }}</span>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}