{% extends "bases.html.twig" %}

{% block main %}
    <main>
        <section>
            <article>
                {% for product  in products %}
                    <h3>{{ product.name }}</h3>
                    <h3>{{ product.description }}</h3>
                    <h3>{{ product.price }}</h3>
                    <h3>{{ product.stock }}</h3>
                {% endfor %}
            </article>
        </section>
    </main>
{% endblock %}