{% extends "bases.html.twig" %}

{% block main %}
    <main>
        <h2>Produit</h2>
        <section>
            <article>
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <span>Prix : {{ product.price }}</span>
                <span>Stock : {{ product.stock }}</span>
            </article>
        </section>
    </main>
{% endblock %}