{% extends "bases_admin.html.twig" %}

{% block main %}
    <main>
        <h2>Produit(admin)</h2>
        <section>
            <article>
                <h3>{{ product.name }}</h3>
                <h3>{{ product.description }}</h3>
                <h3>{{ product.price }}</h3>
                <h3>{{ product.stock }}</h3>
            </article>
        </section>
    </main>
{% endblock %}